transformers==4.46.2
datasets==3.1.0
pipeline==0.1.0
llama_index==0.11.23
torch==2.5.1
langchain==0.3.8
dotenv==1.0.1
pydef==12
langchain-community==0.3.8
yt_dlp==2024.11.18
pydub==0.25.1
pypdf2==3.0.1
chromadb==0.5.20
lark==1.2.2
scikit-learn==1.5.2
panel==1.5.4
jupyter_bokeh==4.0.5
docarray==0.40.0